# Ejecutables compilados (Windows y Unix)
main
main.exe
*.exe
*.out
*.app

# Archivos objeto (Intermedios de compilación)
*.o
*.obj

# Carpetas de configuración de IDEs
.vscode/
.idea/
*.swp
*.patch

# Archivos de sistema
.DS_Store
Thumbs.db